<%- include("../partials/headera") %> 
                <div class="col-lg-6 col-md-12" id="form">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12" style="margin-top: 4%">
                            <div id="form1">
                                <a href="/#about">
                                    <i class="fas fa-arrow-left"></i>
                                    Wróć do sekcji o nas
                                </a>
                                <h1 class="login">Edytuj o mnie</h1>
                                <% if(error.length > 0){ %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <% if(success.length > 0){ %>
                                    <div class="alert alert-success" role="alert">
                                        <%= success %>
                                    </div>
                                <% } %>
                                <form action="/user/<%= user._id %>?_method=PUT" method="post" id="form">
                                    <div class="form-floating mb-3">
                       
                                        <input required type="text" class="form-control" autocomplete="off" name="user[username]" id="username" value="<%= user.username %>" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                        <label for="username" class="username">
                                            Nazwa użytkownika
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                       
                                        <textarea required name="user[important]" placeholder="np. Fajny, dla mojego przyjaciela" id="important" class="form-control"><%= user.important %></textarea>
                                        <label for="important" class="username">
                                            Opis (ten grubszy)
                                            
                                        </label>
                                        
                                    </div>
                                    
                                    
                                    <div class="form-floating mb-3">
                                       
                                        <textarea required name="user[info1]" placeholder="Nic" id="info1" class="form-control"><%= user.info1 %></textarea>
                                        <label for="info1" class="username">
                                            Opis (normalny po lewej)
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                                       
                                        <textarea required name="user[info2]" placeholder="Nic" id="info2" class="form-control"><%= user.info2 %></textarea>
                                        <label for="info2" class="username">
                                            Opis (normalny po prawej)
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                       
                                        <input required type="text" class="form-control" autocomplete="off" id="facebook" name="user[facebook]" value="<%= user.facebook %>" placeholder="Link do Facebooka">
                                        <label for="facebook" class="username">
                                            Link do Facebooka
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                                       
                                        <input required type="text" class="form-control" autocomplete="off" id="instagram" name="user[instagram]" value="<%= user.instagram %>" placeholder="Link do Instagrama">
                                        <label for="instagram" class="username">
                                            Link do Instagrama
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                       
                                        <input required type="text" class="form-control" autocomplete="off" name="user[location]" id="location" value="<%= user.location %>" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                        <label for="location" class="username">
                                            Lokalizacja
                                            
                                        </label>
                                        
                                    </div>
                                    <div class="form-floating mb-3">
                       
                                        <input required type="email" class="form-control" autocomplete="off" id="email" name="user[email]" value="<%= user.email %>" placeholder="Email">
                                        <label for="email" class="username">
                                            Email
                                            
                                        </label>
                                        
                                    </div>
                                    
                                    <div class="form-floating mb-3">
                       
                                        <input required type="tel" class="form-control" autocomplete="off" id="phone" name="user[phone]" value="<%= user.phone %>" pattern="[0-9]{3} [0-9]{3} [0-9]{3}" placeholder="Email">
                                        <label for="phone" class="username">
                                            Telefon
                                            
                                        </label>
                                        
                                    </div>
                                    <input type="submit" value="Edytuj o mnie" class="btn btn-danger button" id="send">
                                   
                                </form>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <script src="script.js"></script>  
    <script>
        document.getElementById("form").addEventListener("submit", function(){
			document.getElementById("send").setAttribute("disabled", "disabled");
			document.getElementById("send").innerText = `Edytowanie...`;
    	})
    </script>   
    </body>
    </html>