<%- include("../partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="subpage-title text-center">
                <% if(base64.decode(currentUser.role) === 'admin'){ %>
                    Ogłoszenia, które zostały dodane
                <% } else { %>
                    Ogłoszenia, które dodałeś
                <% } %>
              
               : <%= announcements.length %>
            </h2>
            <p class="description text-center">Zalogowany jako <%= currentUser.username %></p>
            <% if(success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <a data-toggle="modal" data-target="#search" class="btn btn-secondary" style="color: white;">Wyszukaj ogłoszenie</a>
        </div>
    </div>
    
        <% if(announcements.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-6-col-lg-12">
                    <div class="alert alert-info">
                        <% if(currentUser.role === 'admin'){ %>
                            Żadne ogłoszenia nie zostały dodane
                        <% } else { %>
                            Nie dodałeś jeszcze żadnych ogłoszeń
                        <% } %>
                       
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% announcements.forEach((announcement) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 8px;">
                        <div class="card">
                            <img src="<%= announcement.profile %>" alt="zdjęcie ogłoszenia" class="card-img-top">
                            <div class="card-body">
                                <div class="card-title"><%= announcement.title %></div>
                                <span class="badge text-light border border-success badge-mine"><%= announcement.category.title %></span>
                                
                                <p class="description">
                                    <% if(announcement.length > 200){ %>
                                        <%= announcement.description.substring(0,200) %>...
                                    <% } else { %>
                                        <%= announcement.description %>
                                    <% } %>
                                
                                </p>
                                <div>
                                    <p class="float-left author-city"> <%= base64.decode(announcement.author.city) %></p>
                                    <p class="float-right price"> <%= announcement.price %>zł</p>
                                </div>
                                <div style="clear: both;">
                                    <% if(base64.decode(currentUser.role) === "admin"){ %>
                                        <% if(currentUser.username === announcement.author.username){ %>
                                            <div class="dropdown">
                                                <button class="btn button-small btn-success dropdown-toggle justify-content-center" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Modyfikacja
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="background: #eeeeee">
                                                    <a href="/announcements/<%= announcement._id %>/edit" class="dropdown-item">Edytuj</a>
                                                    <a href="/announcements/<%= announcement._id %>/delete/confirm" class="dropdown-item">Usuń</a>
                                                    <a href="/announcements/<%= announcement._id %>/add/picture" class="dropdown-item">Dodaj zdjęcie do galerii</a>
                                                    <a href="/announcements/<%= announcement._id %>/edit/picture" class="dropdown-item">
                                                        Edytuj zdjęcie główne
                                                    </a>
                                                    <a href="/announcements/<%= announcement.link %>?announcement_id=<%= announcement._id %>" class="dropdown-item">Zobacz podgląd</a>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <a href="/announcements/<%= announcement._id %>/delete/confirm" class="btn btn-danger">Usuń ogłoszenie</a>
                                            <a href="/announcements/<%= announcement.link %>?announcement_id=<%= announcement._id %>" class="btn button-small btn-success">Zobacz podgląd</a>
                                        <% } %>
                                        
                                    <% } else { %>
                                        <div class="dropdown">
                                            <button class="btn btn-success button-small dropdown-toggle justify-content-center" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Modyfikacja
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="background: #eeeeee">
                                                <a href="/announcements/<%= announcement._id %>/edit" class="dropdown-item">Edytuj</a>
                                                <a href="/announcements/<%= announcement._id %>/delete/confirm" class="dropdown-item">Usuń</a>
                                                <a href="/announcements/<%= announcement._id %>/add/picture" class="dropdown-item">Dodaj zdjęcie do galerii</a>
                                                <a href="/announcements/<%= announcement._id %>/edit/picture" class="dropdown-item">
                                                    Edytuj zdjęcie główne
                                                </a>
                                                <a href="/announcements/<%= announcement.link %>?announcement_id=<%= announcement._id %>" class="dropdown-item">Zobacz podgląd</a>
                                            </div>
                                        </div>
                                        
                                       
                                    <% } %>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
        <script>
            $("#dashboard").addClass("active");
            $("#announcementsMobile").css("border-bottom", "3px solid white")
        </script>
   
</div>
<%- include("../partials/footer") %>