<%- include("../partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="subpage-title text-center">
                Liczba użytkowników: <%= users.length %>
            </h2>
            <div class="text-center">
                <a data-toggle="modal" data-target="#usersearch" class="btn btn-secondary" style="color: white;">Wyszukaj użytkownika</a>
            </div>
            <p class="description text-center">Zalogowany jako <%= currentUser.username %></p>
            <% if(success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
    </div>
    
        <% if(users.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-6-col-lg-12">
                    <div class="alert alert-info">
                        Nie ma jeszcze żadnych użytkowników
                       
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% users.forEach((user) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 8px;">
                        <div class="card">
                            <% if(user.profile){ %>
                                <img src="<%= user.profile %>" alt="profilowe użytkownika" class="card-img-top">
                            <% } %>
                           
                            <div class="card-body">
                                <div class="card-title title text-center"><%= user.username %></div>
                                <p class="description">
                                    Imię: <strong><%= base64.decode(user.name) %></strong>
                                </p>
                                <p class="description">
                                    Email: <strong><%= base64.decode(user.email) %></strong>
                                </p>
                                <p class="description">
                                    Lokalizacja: <strong><%= base64.decode(user.location) %></strong>
                                </p>
                                <p class="description">
                                    Typ konta: <strong><%= base64.decode(user.role) %></strong>
                                </p>
                                <p class="description">
                                    Zweryfikowany: <strong><%= user.verificated %></strong>
                                </p>
                                <p class="footer" style="font-size: 16px;text-transform: uppercase;">
                                    Dołączył <em><%= user.joined.toDateString() %></em>
                                </p>
                                <a href="/user/<%= user._id %>/delete/confirm" class="btn btn-danger">Usuń użytkownika</a>
                                <a href="/user/<%= user.username %>/info" class="btn button-small btn-success">Zobacz profil</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
        <script>
            $("#users").addClass("active");
           
        </script>
        <div class="modal fade" id="usersearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Wyszukaj użytkownika</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/user/search" method="get">
                        <div class="input-group mb-3">
                            <input type="search" id="announcements" autocomplete="off" class="form-control" name="username" placeholder="Wpisz nazwę użytkownika" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success button-small" data-dismiss="modal">Zamknij</button>
                 
                </div>
              </div>
            </div>
          </div>
</div>
<%- include("../partials/footer") %>