<% if(typeof param !== 'undefined'){ %>
    <% if(typeof type !== 'undefined'){ %>
        <form action="/announcements/type/<%= type.link %>/search" method="get">
            <div class="input-group mb-3">
                <input type="search" id="announcements" value="<%= param %>" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia*" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <p class="text-mute">* Wyszukuje ogłoszenia w typie <%= type.title %> </p>
    <% } else if(typeof category !== 'undefined'){ %>
        <form action="/announcements/category/<%= category.link %>/search" method="get">
            <div class="input-group mb-3">
                <input type="search" id="announcements" value="<%= param %>" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia*" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <p class="text-mute">* Wyszukuje ogłoszenia w kategorii <%= category.title %> </p>
    <% } else if(typeof currentUser !== 'undefined') { %>
        <% if(currentUser.role === 'admin'){ %>
            <form action="/announcements/search" method="get">
                <div class="input-group mb-3">
                    <input type="search" id="announcements" value="<%= param %>" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        <% } else { %>
            <form action="/announcements/search" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="author_id" value="<%= currentUser._id %>" hidden>
                    <input type="search" id="announcements" value="<%= param %>" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        <% } %>
    <% } else { %>
        <form action="/announcements/search" method="get">
            <div class="input-group mb-3">
                <input type="search" id="announcements" value="<%= param %>" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    <% } %>
    
<% } else if(typeof type !== 'undefined') { %>
    <form action="/announcements/type/<%= type.link %>/search" method="get">
        <div class="input-group mb-3">
            <input type="search" id="announcements" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia*" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <p class="text-mute">* Wyszukuje ogłoszenia w typie <%= type.title %> </p>
<% } else if(typeof category !== 'undefined'){ %>
    <form action="/announcements/category/<%= category.link %>/search" method="get">
        <div class="input-group mb-3">
            <input type="search" id="announcements" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia*" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <p class="text-mute">* Wyszukuje ogłoszenia w kategorii <%= category.title %> </p>
<% } else if(typeof currentUser !== 'undefined'){ %>
    <%= currentUser.role %>
    <% if(currentUser.role === 'admin'){ %>
        <form action="/announcements/search" method="get">
            <div class="input-group mb-3">
                
                <input type="search" id="announcements" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    <% } else { %>
        <form action="/announcements/search" method="get">
            <div class="input-group mb-3">
                <input type="text" name="author_id" value="<%= currentUser._id %>" hidden>
                <input type="search" id="announcements" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    <% } %>
    
<% } else { %>
    <form action="/announcements/search" method="get">
        <div class="input-group mb-3">
            <input type="search" id="announcements" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł ogłoszenia" aria-label="Wpisz tytuł ogłoszenia" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-success btn-outline-mine" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
<% } %>