<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 6%">
			<div id="form1">
				<a href="/bootcamps/<%= bootcamp.subpageLink %>">
					<i class="fas fa-arrow-left"></i>
					Wróć do <%= bootcamp.title %>
				</a>
				<h1 class="login">Edytuj bootcamp <%= bootcamp.title %></h1>
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <form action="/bootcamps/<%= bootcamp._id %>?_method=PUT" method="post">
                        <p class="username">Edytuj nazwę bootcampa</p>
                        <input type="text" name="bootcamp[title]" value="<%= bootcamp.title %>" class="form-control" placeholder="Nazwa bootcampa">
                        <br>
                        <p class="username">Edytuj imiona i nazwiska instruktorów</p>
                        <input type="text" name="bootcamp[instructor]" class="form-control" value="<%= bootcamp.instructor %>" placeholder="Imiona i nazwiska instruktorów">
                        <br>
                        <p class="username">Edytuj postęp</p>
                        <input type="number" name="bootcamp[progress]" value="<%= bootcamp.progress %>" class="form-control" placeholder="Postęp">
                        <br>
                        <p class="username">Edytuj link do kursu</p>
                        <input type="text" name="bootcamp[link]" value="<%= bootcamp.link %>" class="form-control" placeholder="Link do kursu">
                        <br>
                        
                        <input type="submit" value="Edytuj bootcamp" class="btn btn-primary button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>