<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 5%">
			<div id="form1">
				<a href="/website-orders">
					<i class="fas fa-arrow-left"></i>
					Wróć do strony wszystkich zamówień
				</a>
				<h1 class="login">
                   Edytuj zamówienie <%= order.websiteTitle %>
                   
                </h1>
               
				<% if(error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<%= error %>
					</div>
				<% } %>
                   
                        <form action="/website-orders/<%= order._id %>?_method=PUT" method="post">
                            <p class="username">Edytuj typ zamówienia</p>
                            <select id="select" name="order[type]" class="form-control" disabled>
                                <option><%= order.type %></option>
                                <option value="new" style="color:black">Nowa strona</option>
                                <option value="update" style="color:black">Aktualizacja wyglądu / strony</option>
                            </select>
                            <br>
                           
                                <p class="username">Edytuj nazwę strony</p>
                                <input type="text" name="order[websiteTitle]" value="<%= order.websiteTitle %>" placeholder="np. Portfolio" class="form-control">
                                <br>
                                <p class="username">Edytuj link do aktualnej wersji</p>
                                <input type="text" name="order[previousWebsite]" value="<%= order.previousWebsite %>" placeholder="np. https://wwww.danmag.pl" class="form-control">
                                <br>
                                <p class="username">Edytuj czego oczekujesz po aktualizacji</p>
                                <textarea name="order[whatYouWish]" id="description" placeholder="np. Strona bardziej dostosowana do urządzeń mobilnych" class="form-control"><%= order.whatYouWish %></textarea>
                                <br>
                                <p class="username">Edytuj imię i nazwisko</p>
                                <input type="text" name="order[name]" value="<%= order.name %>" placeholder="np. Jan Kowalski" class="form-control">
                                <br>
                                <p class="username">Edytuj status polski</p>
                                <input type="text" name="order[status]" value="<%= order.status %>" placeholder="np. Zostały ostatnie poprawki" class="form-control">
                                <br>
                                <p class="username">Edytuj status angielski</p>
                                <input type="text" name="order[statusEn]" value="<%= order.statusEn %>" placeholder="np. Just last fixes" class="form-control">
                                <br>
                                <p class="username">Edytuj email kontaktowy</p>
                                <input type="email" name="order[email]" value="<%= order.email %>" placeholder="np. jankowalski@gmail.com" class="form-control">
                                <br>
                                <input type="submit" value="Edytuj zamówienie" class="btn btn-primary button">
                            
                        </form>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>