<!DOCTYPE html>
<html lang="pl">


<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-66E4SJP2T9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-66E4SJP2T9');
</script>
    <title> <%= header %> </title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="5zeta to portal ogłoszeniowy, który został stworzony z myślą o mieszkańcach Głogowa, Nowej Soli i okolic. Przeglądaj ogłoszenia lub zarejestruj się już dziś, by zacząć je dodawać">
    <meta name="keywords" content="5zeta, 5zeta głogów, 5zeta nowa sól, portal ogłoszeniowy głógów, portal ogłoszeniowy nowa sól, portal ogłoszeniowy bytom odrzański">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <% if(currentUser){ %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient justify-content-center" id="mainNav">
            <div class="container">
                <a class="navbar-brand logo" href="/">5zeta.pl</a>
                
                <a href="/announcements" class="icon d-lg-none d-md-inline-block" id="announcementsMobile">
                    <i class="fas fa-bullhorn"></i>
                </a>
                <a href="/announcements/new" class="icon d-lg-none d-md-inline-block">
                    <i class="fas fa-plus"></i>
                </a>
                <div class="dropdown d-lg-none d-md-inline-block">
                    <a class="dropdown-toggle" href="#"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                        <a class="dropdown-item" href="/user/<%= currentUser._id %>/edit">Edytuj informacje</a>
                        <a class="dropdown-item" href="/user/<%= currentUser._id %>/edit/picture">Edytuj zdjęcie profilowe</a>
                        <a class="dropdown-item" href="/user/<%= currentUser.username %>/info">Zobacz podgląd</a>
                        <a class="dropdown-item" href="/user/<%= currentUser._id %>/delete/confirm">Usuń konto</a>
                    </div>
                </div>
               
                <a href="/support" class="icon d-lg-none d-md-inline-block">
                    <i class="fas fa-donate"></i>
                </a>
            <% if(base64.decode(currentUser.role) === 'admin'){ %>
                
                
                    <div class="dropdown  d-lg-none d-md-inline-block">
                        <a class="dropdown-toggle" href="#"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                            <i class="fas fa-cog"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                            <a class="dropdown-item" href="/user" id="users">Użytkownicy</a>
                            <a class="dropdown-item" href="/announcements/category" id="categoriesNav">Kategorie</a>
                            <a class="dropdown-item"  href="/announcements/type" id="typesNav">Typy</a>
                           
                        </div>
                    </div>
                   
                
               
            <% } %>
                    
                <a class="icon d-lg-none d-md-inline-block" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                    
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/<%= currentUser.username %>/dashboard" id="dashboard">Ogłoszenia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/announcements/new">Dodaj ogłoszenie</a>
                        </li>    
                        <li class="nav-item">
                            
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Twój profil
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                                    <a class="dropdown-item" href="/user/<%= currentUser._id %>/edit">Edytuj informacje</a>
                                    <a class="dropdown-item" href="/user/<%= currentUser._id %>/edit/picture">Edytuj zdjęcie profilowe</a>
                                    <a class="dropdown-item" href="/user/<%= currentUser.username %>/info">Zobacz podgląd</a>
                                    <a class="dropdown-item" href="/user/<%= currentUser._id %>/delete/confirm">Usuń konto</a>
                                </div>
                            </div>
                           
                        </li>
                        <li class="nav-item">
                            <a href="/support" class="nav-link">
                                Wsparcie
                            </a>
                        </li>
                        <% if(base64.decode(currentUser.role) === 'admin'){ %>
                            <li class="nav-item">
                            
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administracja
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                                        <a class="dropdown-item" href="/user" id="users">Użytkownicy</a>
                                        <a class="dropdown-item" href="/announcements/category" id="categoriesNav">Kategorie</a>
                                        <a class="dropdown-item"  href="/announcements/type" id="typesNav">Typy</a>
                                       
                                    </div>
                                </div>
                               
                            </li>
                           
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Wyloguj się</a>
                        </li>
                       
                    </ul>
                </div>	
            </div>	    
        </nav>
    <% } else { %>
        <div class="container d-none d-lg-block d-xl-block">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img src="/5zeta_logo1.png" alt="logo" style="margin-top: 15%;">
                </div>
                <div class="col-lg-9" style="margin-top: 40px;">
                    <h1 id="websiteName">5zeta.pl</h1>
                    <h3 id="websiteInfo">Portal ogłoszeniowy dla Głogowa, Nowej Soli i okolic</h3>
                    <%- include("forms") %>
                   
                </div>
                
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient justify-content-center" id="mainNav">
            <div class="container">
                <a class="navbar-brand d-lg-none d-md-inline-block logo" href="/">5zeta.pl</a>
                
                <a data-toggle="modal" data-target="#search" style="color:white" class="icon d-lg-none d-md-inline-block">
                    <i class="fas fa-search"></i>
                </a>
                <a href="/" class="icon d-lg-none d-md-inline-block" id="homeMobile">
                    <i class="fas fa-home"></i>
                </a>
                <a href="/announcements" class="icon d-lg-none d-md-inline-block" id="announcementsMobile">
                    <i class="fas fa-bullhorn"></i>
                </a>
                <a href="/announcements/new" class="icon d-lg-none d-md-inline-block">
                    <i class="fas fa-plus"></i>
                </a>
                <% if(logged){ %>
                    
                        <a class="icon d-lg-none d-md-inline-block" href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    
                <% } else { %>
                    <a href="/support" class="icon d-lg-none d-md-inline-block">
                        <i class="fas fa-donate"></i>
                    </a>
                <% } %> 
                <a data-toggle="modal" data-target="#type" style="color:white" class="icon d-lg-none d-md-inline-block">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="collapse navbar-collapse d-none d-lg-block d-xl-block" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/" id="home">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/announcements" id="announcementsLaptop">Ogłoszenia</a>
                        </li>
                        
                       
                        <li class="nav-item">
                            <a class="nav-link" href="/announcements/new">Dodaj ogłoszenie</a>
                        </li>   
                        <% if(logged){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Wyloguj się</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a href="/support" class="nav-link">
                                    
                                    Wsparcie
                                </a>
                            </li>
                        <% } %> 
                    </ul>
                </div>	
            </div>	    
        </nav>
    <% } %>
   
    <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Wyszukaj ogłoszenie</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <%- include("forms") %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success button-small" data-dismiss="modal">Zamknij</button>
             
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  <% if(typeof user !== 'undefined'){ %>
                    Ogłoszenia użytkownika <%= user.username %>
                  <% } else { %>
                    Wybierz kategorię lub typ
                  <% } %>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <% if(typeof user !== 'undefined'){ %>
                    <%- include("userModal") %>
                <% } else { %>
                    <%- include("categoriesModal") %>
                <% } %>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success button-small" data-dismiss="modal">Zamknij</button>
             
            </div>
          </div>
        </div>
      </div>