
<%- include ("../partials/headera") %> 
<div class="col-lg-6 col-md-12" id="formDiv">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 14%">
            <div id="form1">
                <a href="/leaflets">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony z ulotkami
                </a>
                <h1 class="login">Edytuj ulotkę <%= leaflet.title %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                    
                        <form action="/leaflets/<%= leaflet._id %>?_method=PUT" method="post" id="form">
                            
                            
                            
                           
                            <div class="form-floating mb-3">
                       
                                <input type="text" required name="leaflet[title]" id="title" autocomplete="off" value="<%= leaflet.title %>" placeholder="Nazwa ulotki" class="form-control" required>
                                <label for="title" class="username">
                                   Edytuj nazwę ulotki
                                    
                                </label>
                                
                            </div>
                           
                           
                            <div class="form-floating mb-3">
                       
                                <select name="leaflet[type]" id="type" required class="form-control">
                                   
                                    <option value="<%= leaflet.type %>"><%= leaflet.type %></option>
                                   <option value="normal">Zwykła</option>
                                   <option value="half">Składana na pół</option>
                                   <option value="cetka">Na trzy w cetkę</option>
                                   <option value="zetka">Na trzy w zetkę</option>
                                   <option value="gazetka">Gazetka</option>

                                  
                                </select>
                                <label for="type" class="username">
                                    Edytuj typ
                                    
                                </label>
                                
                            </div>
                            
                            
                            
                                                        
                            <div class="form-floating mb-3">
                       
                                <textarea name="leaflet[description]" id="description" required placeholder="Opis ulotki" class="form-control"><%= leaflet.description %></textarea>
                                <label for="description" class="username">
                                    Edytuj opis ulotki
                                    
                                </label>
                                
                            </div>
                            
                            <input type="submit" value="Edytuj ulotkę" class="btn btn-success button btn-green" id="send">
                        </form>
                    </div>
                            
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="/script.js"></script>
<script>
    document.getElementById("form").addEventListener("submit", function(){
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = `Edytowanie...`;
    })
</script>    
</body>
</html>