<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 10%">
			<div id="form1">
				<a href="/user/<%= user.username %>/info">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do profilu użytkownika <%= user.username %>
					
				</a>
				<h1 class="login">
                   Dodaj opinię o użytkowniku <%= user.username %>
                </h1>
				<% if(error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<%= error %>
					</div>
				<% } %>
 
                    <form action="/user/<%= user.username %>/reviews" method="post">
                        <p class="username">Ocena</p>
                        <div id="ratingDiv">
                            <% for(let i=1;i<=5;i++){ %>
                                <div class="star d-inline" id="<%= i %>"><i class="fas fa-star"></i></div>
                            <% } %>
                        </div>
                       
                       
                        <br>
                        <input type="text" id="stars" value="" name="stars" hidden>
                       
                        <div class="form-floating mb-3">
                            <textarea name="text" id="description" class="form-control" placeholder="Wpisz opinię"></textarea>
                            <label for="description" class="username">
                                Wpisz opinię
                                
                            </label>
                            
                        </div> 
                        <% if(!currentUser){ %>
                           
                            <div class="form-floating mb-3">
                                <input type="text" name="name" id="name" placeholder="Wpisz swoje imię" class="form-control">
                                <label for="name" class="username">
                                    Wpisz swoje imię
                                    
                                </label>
                                
                            </div> 
                        <% } %>
                       
                        <input type="submit" value="Dodaj opinię" class="btn btn-warning button btn-golden" style="color: black;">
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
  <script>
      $(".star").on('click', function(){
        
        document.getElementById("stars").value = this.id;
        for(let i=0; i<= this.id;i++){
           document.getElementById(this.id-i).style.color = "goldenrod";
        }
        
      });
  </script>
  <script>
    

    $(".form-control").on('click', function(){
        $(".form-control").css({             
            "box-shadow": "none"
        });
    });
               
    </script>
</body>
</html>