<%- include("../partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="subpage-title">
                Wszystkie typy
            </h1>
            <a href="/announcements/type/new" class="btn btn-success btn-mine">Dodaj typ</a>
            <br>
            <br>
        </div>
    </div>
</div>
<% if(types.length === 0){ %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="alert alert-info text-center">
                    Nie dodaliśmy jeszcze typów
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="container">
        <div class="row">
            <% types.forEach((type) => { %>
                <div class="col-lg-12">
                    <div class="float-left">
                        <p class="description">
                            <%= type.title %>
                            <br>
                            <span class="footer"><%= type.link %></span>
                        </p>
                       
                    </div>
                    <div class="float-right" style="color: white;">
                        
                        
                        <a href="/announcements/type/<%= type._id %>/edit" class="btn btn-secondary">Edytuj</a>
                       
                        <a href="/announcements/type/<%= type._id %>/delete" class="btn btn-dark">Usuń</a>
                    </div>
                  
                </div>
                <hr>
            <% }) %>
        </div>
    </div>
<% } %> 

<script>
    $("#typesNav").addClass("active");
   
</script>

<%- include("../partials/footer") %>
