<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 6%">
			<div id="form1">
				<a href="/bootcamps/<%= bootcamp.subpageLink %>">
					<i class="fas fa-arrow-left"></i>
					Wróć do <%= bootcamp.title %>
				</a>
				<h1 class="login">Edytuj bootcamp <%= bootcamp.title %></h1>
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <form action="/bootcamps/<%= bootcamp._id %>?_method=PUT" method="post">
                        <div class="form-floating mb-3">
                       
                            <input type="text" name="bootcamp[title]" id="title" autocomplete="off" value="<%= bootcamp.title %>" class="form-control" placeholder="Nazwa bootcampa">
                            <label for="title" class="username">
                                Edytuj nazwę bootcampa
                                
                            </label>
                            
                        </div>
                        
                        <div class="form-floating mb-3">
                       
                            <input type="text" name="bootcamp[instructor]" id="instructor" class="form-control" autocomplete="off" value="<%= bootcamp.instructor %>" placeholder="Imiona i nazwiska instruktorów">
                            <label for="instructor" class="username">
                                Edytuj imiona i nazwiska instruktorów
                            </label>
                            
                        </div>
                        
                       
                        <div class="form-floating mb-3">
                       
                            <input type="text" name="bootcamp[link]"  id="link" value="<%= bootcamp.link %>" autocomplete="off" class="form-control" placeholder="Link do kursu">
                            <label for="description" class="username">
                                Edytuj link do kursu
                                
                            </label>
                            
                        </div>
                        
                      
                        <input type="submit" value="Edytuj bootcamp" class="btn btn-primary button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>