<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/user/<%= user.username %>/dashboard">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do panelu administratora
                </a>
                <h1 class="login">Edytuj informacje profilowe</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/user/<%= user._id %>?_method=PUT" method="post">
                   
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="<%= user.username %>" name="user[username]" id="username" placeholder="kowalski09" aria-label="Nazwa użytkownika" aria-describedby="basic-addon1" required>
                        <label for="username" class="username">
                            Edytuj nazwę użytkownika
                            
                        </label>
                        
                    </div>  
                    <p id="usernameMessage"></p>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="<%= base64.decode(user.name) %>" name="user[name]" id="name" placeholder="Jan" aria-label="Imię" aria-describedby="basic-addon1" required>
                        <label for="name" class="username">
                            Edytuj swoje imię
                            
                        </label>
                        
                    </div>  
                    
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" value="<%= base64.decode(user.email) %>" name="user[email]" id="email" placeholder="jankowalski@gmail.com" aria-label="Email" aria-describedby="basic-addon1" required>
                        <label for="email" class="username">
                            Edytuj swój email
                            
                        </label>
                        
                    </div>  
                    <p id="emailMessage"></p>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="<%= base64.decode(user.location) %>" name="user[location]" id="city" placeholder="Głogów" aria-label="Miasto" aria-describedby="basic-addon1" required>
                        <label for="city" class="username">
                            Edytuj swoje miasto
                            
                        </label>
                        
                    </div> 
                    <% if(base64.decode(user.role) === "Firma" || base64.decode(user.role) === "Schronisko dla zwierząt"){ %>
                        
                        <div class="form-floating mb-3">
                            <textarea name="user[description]" id="description" class="form-control"><% if(user.description){ %><%= base64.decode(user.description) %><% } %></textarea>
                            <label for="description" class="username">
                                Edytuj opis o nas
                                
                            </label>
                            
                        </div> 
                    <% } %>
                    
                    <input type="submit" value="Edytuj konto" class="btn btn-warning button btn-golden" style="color: black;">
                   
                </form>
               
            </div>
           
        </div>
        
    </div>
</div>
<script>
    

$(".form-control").on('click', function(){
    $(".form-control").css({             
        "box-shadow": "none"
    });
});
           
</script>

<script src="/verifcation.js"></script>
</body>
</html>