<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/login">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony logowania
                </a>
                <h1 class="login">Zarejestruj się w portalu 5zeta</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/user/new" method="post">
                    <div class="form-floating mb-3">
                       
                        <input autocomplete="off" type="text" class="form-control" value="<%= user.username %>" name="username" id="username" placeholder="kowalski09" aria-label="Nazwa użytkownika" aria-describedby="basic-addon1" required>
                        <label for="username" class="username">
                            Podaj nazwę użytkownika
                            
                        </label>
                        
                    </div>
                   
                    
                    <p id="usernameMessage"></p>
                    
                   
                    <div class="form-floating mb-3">
                       
                        <input type="text" class="form-control" value="<%= user.name %>" name="name" id="name" placeholder="Jan" autocomplete="off" aria-label="Imię" aria-describedby="basic-addon1" required>
                        <label for="name" class="username">
                            Podaj swoje imię
                            
                        </label>
                        
                    </div>
                     
                    <div class="form-floating mb-3">
                       
                        <input type="email" class="form-control" value="<%= user.email %>" autocomplete="off" name="email" id="email" placeholder="jankowalski@gmail.com" aria-label="Email" aria-describedby="basic-addon1" required>
                        <label for="email" class="username">
                            Podaj swój email
                            
                        </label>
                        
                    </div>
                    <p id="emailMessage"></p>
                    
                    <div class="form-floating mb-3">
                       
                        <select name="role" id="roleSelect" class="form-select" required>
                            <option>Typ konta</option>
                            <option value="admin">Administrator</option>
                            <option>Osoba fizyczna</option>
                            <option>Firma</option>
                            <option>Schronisko dla zwierząt</option>
                        </select>
                        <label for="roleSelect" class="username">
                            Wybierz typ konta
                            
                        </label>
                        
                    </div>  
                    
                    <div class="form-floating mb-3">
                       
                        <input type="text" class="form-control" value="<%= user.location %>" name="location" id="city" autocomplete="off" placeholder="Głogów" aria-label="Miasto" aria-describedby="basic-addon1" required>
                        <label for="city" class="username" id="cityLabel">
                            Podaj miasto
                            
                        </label>
                        
                    </div>  
                    
                    <div class="form-floating mb-3">
                       
                        <input autocomplete="off" type="password" class="form-control" value="<%= user.password %>" name="password" id="password" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1" required>
                        <label for="password" class="username">
                            Podaj hasło
                            
                        </label>
                        
                    </div>
                    
                    <div class="form-floating mb-3">
                       
                        <input autocomplete="off" type="password" class="form-control" value="<%= user.confirm %>" name="confirm" id="repeatPassword" placeholder="1234" aria-label="Powtórz hasło" aria-describedby="basic-addon1" required>
                        <label for="repeatPassword" class="username">
                            Powtórz hasło
                            
                        </label>
                        
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">
                            Przeczytałem i zapoznałem się z
                            <a href="/policy">polityką prywatności</a>
                            oraz 
                            <a href="/policy#regulamin">regulaminem</a>
                        </label>
                    </div>
                    <input type="submit" value="Zarejestruj się" class="btn btn-warning button btn-golden" style="color: black;">
                   
                </form>
               
            </div>
           
        </div>
        
    </div>
</div>
<script>
    let roleSelect = document.getElementById("roleSelect");
    let cityLabel = document.getElementById("cityLabel");
    let cityInput = document.getElementById("city");
    roleSelect.addEventListener("change", () => {
        if(roleSelect.value === "Firma" || roleSelect.value === "Schronisko dla zwierząt"){
            cityLabel.innerText = "Podaj adres (wzór: ulica numer, kod miasto)";
            cityInput.setAttribute("placeholder", "Morcinka 101, 67-200 Głogów")
        } else {
            cityLabel.innerText = "Podaj miasto";
            cityInput.setAttribute("placeholder", "Głogów")
        }
    })
    

$(".form-control").on('click', function(){
                $(".form-control").css({
                    
                    "box-shadow": "none"
                });
            });
            $(".form-select").on('click', function(){
                $(".form-select").css({
                    
                    "box-shadow": "none"
                });
            });
</script>

<script src="/verifcation.js"></script>
</body>
</html>