<%- include("../partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="subpage-title">
                Wszystkie kategorie
            </h1>
            <a href="/announcements/category/new" class="btn btn-success btn-mine">Dodaj kategorię</a>
            <br>
            <br>
        </div>
    </div>
</div>
<% if(categories.length === 0){ %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="alert alert-info text-center">
                    Nie dodaliśmy jeszcze kategorii
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="container">
        <div class="row">
            <% categories.forEach((category) => { %>
                <div class="col-lg-12">
                    <div class="float-left">
                        <p class="description">
                            <%= category.title %>
                            <br>
                            <span class="footer"><%= category.link %></span>
                        </p>
                       
                    </div>
                    <div class="float-right" style="color: white;">
                        
                        
                        <a href="/announcements/category/<%= category._id %>/edit" class="btn btn-secondary">Edytuj</a>
                       
                        <a href="/announcements/category/<%= category._id %>/delete" class="btn btn-dark">Usuń</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<% } %> 

<script>
    $("#categoriesNav").addClass("active");
   
</script>

<%- include("../partials/footer") %>
