<%- include("../partials/headera") %>

<div class="col-lg-6 col-md-12" id="formDiv">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 5%">
            <div id="form1">
                <a href="/employees">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony ze spisem pracowników
                </a>
                <h1 class="login">Dodaj pracownika do firmy <%= currentUser.company.name %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                    
                    <form action="/employees" method="POST" id="form">
                       
                        <% if(typeof employee !== 'undefined'){ %>
                            <div class="form-floating mb-3">
           
                                <input type="text" required class="form-control" autocomplete="off" name="name" id="name" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="name" class="username">
                                    Imię i nazwisko pracownika
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
           
                                <input type="text" required class="form-control" autocomplete="off" value="<%= employee.username %>" name="username" id="username" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="username" class="username">
                                    Nazwa użytkownika
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
           
                                <input type="email" required class="form-control" autocomplete="off" name="email" id="email" value="<%= employee.email %>" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="email" class="username">
                                    Email pracownika
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
               
                                <input type="password" class="form-control" autocomplete="off" value="<%= employee.password %>" name="password" id="password" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="password" class="username">
                                    Kod dostępu
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
               
                                <input type="password" class="form-control" autocomplete="off" value="<%= employee.confirm %>" name="confirm" id="confirm" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="confirm" class="username">
                                    Powtórz kod dostępu
                                    
                                </label>
                                
                            </div>
                        <% } else { %>
                            <div class="form-floating mb-3">
           
                                <input type="text" required class="form-control" autocomplete="off" name="name" id="name" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="name" class="username">
                                    Imię i nazwisko pracownika
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
           
                                <input type="text" required class="form-control" autocomplete="off" name="username" id="username" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="username" class="username">
                                    Nazwa użytkownika
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
           
                                <input type="email" required class="form-control" autocomplete="off" name="email" id="email" placeholder="h" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="email" class="username">
                                    Email pracownika
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
               
                                <input type="password" class="form-control" autocomplete="off" name="password" id="password" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="password" class="username">
                                    Kod dostępu
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3">
               
                                <input type="password" class="form-control" autocomplete="off" name="confirm" id="confirm" placeholder="1234" aria-label="Hasło" aria-describedby="basic-addon1">
                                <label for="confirm" class="username">
                                    Powtórz kod dostępu
                                    
                                </label>
                                
                            </div>
                        <% } %>
                        <input type="submit" value="Dodaj pracownika" class="btn btn-success button btn-green" id="send">
                    </form>
                </div>
                            
            </div>
            
        </div>
    </div>
</div>
</div>

<script src="/script.js"></script>
<script>
    document.getElementById("form").addEventListener("submit", function(){
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = `Dodawanie...`;
    })
</script>    
</body>
</html>