<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-12" style="margin-top: 17%">
			<div id="form1">
				<a href="/">
					<i class="fas fa-arrow-left"></i>
					Wróć do strony głównej
				</a>
				<h1 class="login">Edytuj kategorię <%= category.name %></h1>
				<% if(error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<%= error %>
					</div>
				<% } %>
                <form action="/projects/category/<%= category._id %>?_method=PUT" method="post">
                        
                    <div class="form-floating mb-3">
                       
                        <input type="text" id="name" name="category[name]" value="<%= category.name %>" class="form-control" placeholder="Tytuł po polsku">
                        <label for="name" class="username">
                            Nazwa
                            
                        </label>
                        
                    </div>
                   
                    
                    <div class="form-floating mb-3">
                   
                        <textarea name="category[important]" id="important" class="form-control"><%= category.important %></textarea>
                        <label for="important" class="username">
                            Opis (ten większy)
                            
                        </label>
                        
                    </div>
                  
                        <div class="form-floating mb-3">
                   
                            <textarea name="category[info]" id="info1" class="form-control"><%= category.info %></textarea>
                            <label for="info1" class="username">
                               Opis (ten normalny)
                                
                            </label>
                            
                        </div>
                        
                    <input type="submit" value="Edytuj kategorię" class="btn btn-danger button">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>